//fontes
$textSite: "Oswald", sans-serif;
$textTitle: "Montserrat", sans-serif;
$textLinks: "Roboto", sans-serif;

//Cores

$backNav: white;
$background: #dfe6e9;
$backButton: #f39c12;
$colorTitle: #2c3e50